body{
    font-family: Verdana;
}
.gambar{
    position: relative;
    width: 271px;
    height: 359px;
    left: 648px;
    display: block;
    top: 128px;
}
.content{
    width: 491px;
    height: 192px;
    position: relative;
    display: block;
    left: 150px;
    bottom: 914px;
}

.navbar {
    background: #000000;
    position: fixed;
    top: 0;
    font-size: 18px;
    width: 100%;
    z-index: 1;
}

.nav-link:after {
    content: '';
    display: block;
    width: 0px;
    position: relative;
    left: 0px;
    height: 2px;
    background: #FFD700;
    transition: 0.4s
}

.nav-link, .nav-link:hover::after {
    color: #FFD700;
    width: 100%;
  }
  .nav-link>.active>a {
    color: #FFD700;
    
}

